
---
name: {{ vars.name }}
sn: {{ vars.sn }}
id: {{ vars.id }}
role: {{ vars.role }}
template: {{ vars.template }}
loopback: {{ vars.router_id }}
asn: {{ 65000 + vars.id }}
interfaces:
{%- for k, v in vars.interfaces.items() %}
  {{ k }}:
    name: {{ v.name }}
    address: {{ v.address }}
{%- if v.sdwan_gw is defined %}
    sdwan_gw: {{ v.sdwan_gw }}
    sdwan_profile: {{ v.sdwan_profile}}
{%- endif %}
    zone: {{ v.zone|default("zone-internal") }}
{%- endfor %}
remotes:
{%- for k, v in vars.remotes.items() %}
  {{ k }}:
    sdwan_intf: {{ v.sdwan_intf }}
    loopback: {{ v.loopback }}
    remote_wans:
{%-  for net, hop in v.remote_wans.items() %}
      {{ net }}:
          intf: {{ hop.intf }}
          gw: {{ hop.gw }}
{%-  endfor %}
    tunnels:
{%-  for tunnel, t in v.tunnels.items() %}
      {{ tunnel }}:
        intf: {{ t.intf }}
        ip: {{ t.ip }}
        monitor_ip: {{ t.monitor_ip }}
        local_intf: {{ t.local_intf }}
        local_ip: {{ t.local_ip }}
        peer_ip: {{ t.peer_ip }}
{%-  endfor %}
{%- endfor %}
profiles:
{%- for profile, v in vars.profiles.items() %}
  {{ profile }}:
    tag: {{ v.tag }}
    type: {{ v.type }}
    upload: {{ v.upload }}
    download: {{ v.download }}
    tunnel: '{{ v.tunnel }}'
{%- endfor %}
